body {
  font-family: "Lato";
  background: #f2f9f1;
}
.content {
  max-width: 1300px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-3-columns-footer {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.more-info {
  padding-left: 37px;
}
.img-responsive {
  max-width: 100%;
  display: block;
}

.header-2 {
  padding: 30px 0;
}
.text-center {
  text-align: center;
}
.card {
  background-color: white;
  margin: 30px 0;
}
.card-body {
  padding: 30px;
}
.card-header.grid {
  grid-gap: 0;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.instagram-embed {
  background-color: white;
}
.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #3baea0;
  text-decoration: none;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("images/coverr.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 60px;
}
main {
  background-color: white;
}
main img {
  max-width: 500px;
  margin: 0 auto;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
main h4 {
  font-weight: 700;
  font: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background-color: #eef2e2;
}
section h2 {
  color: #272044;
  opacity: 0.3;
}
footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("images/footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px 0px;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}
@media (max-width: 1024px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    padding: 10px 20px;
    font-size: 10px;
  }
  main h3 {
    font-size: 27px;
  }
  footer {
    font-size: 13px;
    padding-left: 10px;
  }
  footer ul {
    padding: 0px;
  }
  .more-info {
    padding: 0px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .grid-2-columns {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  main p {
    font-size: 14px;
    padding-left: 10px;
  }
  main h3 {
    font-size: 21px;
    padding-left: 10px;
  }
  section {
    padding: 30px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
  .instagram-embed {
    grid-template-columns: 1fr;
  }
}
